<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Если файл или директория существует — отдаём как есть
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Все остальные запросы — в index.html
  RewriteRule ^ /dist/index.html [L]
</IfModule>
